'Microserver':
  'title': 'Microserver'
  'paths': [
    '/home/tadeusz/Projects/microserver'
  ]
'Dredd':
  'title': 'Dredd'
  'paths': [
    '/home/tadeusz/Projects/dredd'
  ]
'config-object':
  'title': 'config-object'
  'paths': [
    '/home/tadeusz/Projects/config-object'
  ]
'.atom':
  'title': '.atom'
  'paths': [
    '/home/tadeusz/.atom'
  ]
'R20':
  'title': 'R20'
  'paths': [
    '/home/tadeusz/Projects/R20'
  ]
'Atomic REST':
  'title': 'Atomic REST'
  'paths': [
    '/home/tadeusz/github/atomic-rest'
  ]
